[flake8]
max-line-length = 120
extend-ignore =
    E302,  # expected 2 blank lines, found 1
    E221,  # multiple spaces before operator
    E501,  # line too long
    E702,  # multiple statements on one line
    E128,  # continuation line under-indented
    E231,  # missing whitespace after ','
    E301,  # expected 1 blank line, found 0
    E701   # multiple statements on one line (colon)
